@model Mytips.Models.TipModel.TipModel

@{
    ViewData["Title"] = "CreateTip";
}

<h1>CreateTip</h1>

<h4>TipModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateTip">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group d-none">
                <label asp-for="TIP_ID" class="control-label"></label>
                <input asp-for="TIP_ID" class="form-control" />
                <span asp-validation-for="TIP_ID" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="TIP_GROUP_ID" class="control-label"></label>
                <input asp-for="TIP_GROUP_ID" class="form-control" />
                <span asp-validation-for="TIP_GROUP_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TIP_TITLE" class="control-label"></label>
                <input asp-for="TIP_TITLE" class="form-control" />
                <span asp-validation-for="TIP_TITLE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TIP_CONTENT" class="control-label"></label>
                <input asp-for="TIP_CONTENT" class="form-control" />
                <span asp-validation-for="TIP_CONTENT" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="TIP_CONTENT_FILE" class="control-label"></label>
                <input asp-for="TIP_CONTENT_FILE" class="form-control" />
                <span asp-validation-for="TIP_CONTENT_FILE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="REMARK" class="control-label"></label>
                <input asp-for="REMARK" class="form-control" />
                <span asp-validation-for="REMARK" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="SORT_NO" class="control-label"></label>
                <input asp-for="SORT_NO" class="form-control" />
                <span asp-validation-for="SORT_NO" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="DEL_FLAG" class="control-label"></label>
                <input asp-for="DEL_FLAG" class="form-control" />
                <span asp-validation-for="DEL_FLAG" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="CREATE_DTTM" class="control-label"></label>
                <input asp-for="CREATE_DTTM" class="form-control" />
                <span asp-validation-for="CREATE_DTTM" class="text-danger"></span>
            </div>
            <div class="form-group d-none">
                <label asp-for="UPDATE_DTTM" class="control-label"></label>
                <input asp-for="UPDATE_DTTM" class="form-control" />
                <span asp-validation-for="UPDATE_DTTM" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
